@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .prose {
        @apply leading-relaxed text-gray-800;
    }
    .prose h2 {
        @apply text-2xl font-bold mt-8 mb-4;
    }
    .prose h3 {
        @apply text-xl font-bold mt-6 mb-3;
    }
    .prose p {
        @apply mb-4;
    }
    .prose ul {
        @apply list-disc list-inside mb-4;
    }
    .prose ol {
        @apply list-decimal list-inside mb-4;
    }
}
